<!-- about.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../../../SoftEngProj/application.py"></script>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',   	filename='about.css') }}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
<body>
    
    <a href="/login">Login</a>
    <div style="text-align: center;">
        <img src="../static/HeartHealth.png">
    </div>
    <br>
    <div id="FullQueue" {% if full %} {% else %} hidden {% endif %}>
	<h1>We are at max client capacity! Please try again in a few minutes</h1>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div>
        <h1>About Heart Health</h1>
        <br>
        <h2>Our Goal</h2>
        <p>This is a paragraph within our about us page. Here we will talk about
            the company and application. This is filler text to see how it looks
            on the page. The goal is to have enough text here to properly form
            the paragraph box within the page.
        </p>
    </div>
    <br>
    <div>
    <h2>Our Technology</h2>
        <p><h3>Metric and loss functions:</h3> 
In our recent project, we developed a machine learning model tailored for the classification of electrocardiogram (ECG) data. The model's architecture was designed to process input data consisting of 141 features, where the first 140 features represent the ECG measurements and the 141st feature is a binary label indicating the classification—'0' for Normal and '1' for Abnormal ECG patterns. As we had only 2 classes, we adopted BinaryAccuracy as our metric for performance evaluation and BinaryCrossentropy as the loss function to optimize during training.
<h3>Optimizer:</h3>
The backbone of our model's learning process is the Adam optimizer, selected for its effective handling of weights backpropagation. We set the learning rate at 0.0001 to allow for fine-grained adjustments to the model's weights.
<h3>Activation Functions:</h3>
In terms of the model's neural architecture, we employed the rectified linear unit (ReLU) activation function across all hidden layers for the non-linear transformations. The output layer utilizes the sigmoid activation function, which is well-suited for binary classification problems as it maps predictions to a probability between 0 and 1.
<h3>Unit Testing:</h3>
To ensure the robustness of our model, we conducted unit testing on a segregated subset of our dataset. The results were promising, with a validation accuracy of 99.44% and a test accuracy of 99.19%, indicating high reliability and generalization of the model.
<h3>Architecture:</h3>
On a high level, below is the architectural view of our model.
</p>
<div style="text-align: center;">
        <img src="../static/modelImage.png">
    </div>

    </div>
    <!-- Add your about us content here -->
	
</body>
</html>
